<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>BLOG POSTS</h1>
        <a href="/addPost" class="backLink">Add New Post</a>
        <ul>
            <% posts.forEach(post=> { %>
                <li>
                    <h2><a href="/post?id=<%=post.id %><%= post.title %></a></h2>
                    <p>By <%= post.author %> - <%= post.date %></p>
                </li>
                <% }); %>
        </ul>
    </div>

    <div class="footer">
        <p>Created by @GurneetKaur</p></div>
</body>
</html>